---
---

@import "{{ site.theme }}";
header h1 {
	font-size: 30px;
	line-height: 1.5;
	margin: 0 0 0 0
	font-weight: bold;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: #b5e853;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased
}
